/Heren_Ejerc02/nbproject/private/
/Heren_Ejerc02/build/
/Heren_Ejerc04/nbproject/private/
/Heren_Ejerc04/build/
/Heren_EjercExt01/nbproject/private/
/Heren_EjercExt01/build/
/Excep_Ejerc02/nbproject/private/
/Excep_Ejerc02/build/